* {
    font-family: 'Poppins', sans-serif;
}
body {
    
    margin: 0;
    padding: 0;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

form, .hasil {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

select {
    width: 100%;
    padding: 10px;
    padding-right: 30px; /* biar ada jarak buat panah */
    margin-top: 2px;
    margin-bottom: 8px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'6'%20viewBox%3D'0%200%2010%206'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M0%200l5%206%205-6z'%20fill%3D'%23333'%20/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 6px;
}


label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: maroon;
}

input[type="text"],
input[type="number"] {
    width: 94%;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a00000;
}

.hasil h3 {
    color: maroon;
    margin-top: 0;
    margin-bottom: 15px;
}

.hasil p {
    margin: 6px 0;
}
